* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #25375c;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #f0e8db;
  padding-top: 1%;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}