@font-face {
  font-family: "SBAggroB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PyeongChang-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChang-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  display: flex;
  overflow: hidden;
}

.circle {
  width: 4vmax;
  height: 4vmax;
  background-color: #f0e8db;
  position: absolute;
  top: -1%;
  left: -1%;
  z-index: 10;
  mix-blend-mode: exclusion;
  border-radius: 50%;
  will-change: transform;
  pointer-events: none;
}

header {
  width: 20%;
  height: 100%;
}
header .logoBox {
  width: 100%;
  height: 50%;
  border-bottom: 0.2vw solid #25375c;
  border-right: 0.2vw solid #25375c;
  position: relative;
}
header .logoBox .logo {
  width: 3.4vw;
  height: 3.4vw;
  background-color: #25375c;
  border-radius: 30vw;
  position: absolute;
  top: 1.4vw;
  left: 1.4vw;
}
header .logoBox img {
  width: 4.7vw;
  position: absolute;
  top: 0.8vw;
  left: 0.8vw;
  transform-origin: center;
  -webkit-animation: imgRotate 10s linear infinite;
          animation: imgRotate 10s linear infinite;
}
header .menu {
  width: 100%;
  height: 50%;
  border-right: 0.2vw solid #25375c;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
header .menu li {
  margin-left: 5%;
}
header .menu a.overA::before {
  opacity: 0;
  transform: translate(0, 20px);
}
header .menu li a {
  font-family: "SBAggroB";
  font-size: 1.6vw;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 0.1vw #25375c;
  position: relative;
  opacity: 1;
  transform: translate(0, 0);
}
header .menu li a::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  transition: 0.25s cubic-bezier(0.5, -1, 0.5, 2);
  transform: translate(0, 0);
  opacity: 1;
}
header .menu li a:hover:before {
  opacity: 0;
  transform: translate(0, 20px);
}
header .menu li a:hover span {
  opacity: 1;
  transform: translate(0, 0);
}
header .menu li a:hover span:nth-child(1) {
  transition-delay: 0.025s;
}
header .menu li a:hover span:nth-child(2) {
  transition-delay: 0.05s;
}
header .menu li a:hover span:nth-child(3) {
  transition-delay: 0.075s;
}
header .menu li a:hover span:nth-child(4) {
  transition-delay: 0.1s;
}
header .menu li a:hover span:nth-child(5) {
  transition-delay: 0.125s;
}
header .menu li a:hover span:nth-child(6) {
  transition-delay: 0.15s;
}
header .menu li a:hover span:nth-child(7) {
  transition-delay: 0.175s;
}
header .menu li a:hover span:nth-child(8) {
  transition-delay: 0.2s;
}
header .menu li a:hover span:nth-child(9) {
  transition-delay: 0.225s;
}
header span.overSpan {
  opacity: 1;
  transform: translate(0, 0);
}
header span.overSpan:nth-child(1) {
  transition-delay: 0.025s;
}
header span.overSpan:nth-child(2) {
  transition-delay: 0.05s;
}
header span.overSpan:nth-child(3) {
  transition-delay: 0.075s;
}
header span.overSpan:nth-child(4) {
  transition-delay: 0.1s;
}
header span.overSpan:nth-child(5) {
  transition-delay: 0.125s;
}
header span.overSpan:nth-child(6) {
  transition-delay: 0.15s;
}
header span.overSpan:nth-child(7) {
  transition-delay: 0.175s;
}
header span.overSpan:nth-child(8) {
  transition-delay: 0.2s;
}
header span.overSpan:nth-child(9) {
  transition-delay: 0.225s;
}
header span {
  display: inline-block;
  transition: 0.25s cubic-bezier(0.5, -1, 0.5, 2);
  color: #25375c;
  opacity: 0;
  transform: translate(0, -20px);
  margin-right: -0.458vw;
}

@-webkit-keyframes imgRotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes imgRotate {
  100% {
    transform: rotate(360deg);
  }
}
.container {
  width: 80%;
  height: 100%;
  overflow: hidden;
}
.container .boxList {
  width: 100%;
  height: 400%;
  position: relative;
}
.container .box {
  width: 100%;
  height: 25%;
  border-bottom: 0.2vw solid #25375c;
  position: relative;
  overflow: hidden;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#home #wall {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  transition: all 0.3s;
}
#home .words {
  font-family: "SBAggroB";
  font-size: 2.23vw;
  letter-spacing: -0.2vw;
  transform: translate3d(0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  margin: -10% 0 0 -33%;
}
#home .words-line {
  height: 4vw;
  overflow: hidden;
  position: relative;
}
#home .words-line:nth-child(odd) {
  transform: skew(60deg, -30deg) scaleY(0.66667);
}
#home .words-line:nth-child(even) {
  transform: skew(0deg, -30deg) scaleY(1.33333);
}
#home .words-line:nth-child(1) {
  left: 10%;
}
#home .words-line:nth-child(2) {
  left: 20%;
}
#home .words-line:nth-child(3) {
  left: 30%;
}
#home .words-line:nth-child(4) {
  left: 40%;
}
#home .words-line:nth-child(5) {
  left: 50%;
}
#home .words-line:nth-child(6) {
  left: 60%;
}
#home h1 {
  height: 5vw;
  line-height: 4.5vw;
  padding: 0 0.2vw;
  transition: all 0.4s ease-in-out;
  transform: translate3d(0, 0, 0);
  vertical-align: top;
  white-space: nowrap;
  cursor: default;
}
#home .words:hover h1 {
  transform: translate3d(0, -4.8vw, 0);
}

.effect {
  display: inline-block;
  position: relative;
  background-clip: text;
  background: -webkit-linear-gradient(0deg, #25375c 50%, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: 0.6s all cubic-bezier(0.86, 0, 0.07, 1) 0.8s;
}
.effect::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #728397;
  z-index: 2;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: left;
  transform: scaleX(0);
}
.effect::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #25375c;
  z-index: 2;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: left;
  transform: scaleX(0);
}
.effect.active {
  background-position: 0 0;
}
.effect.active::before {
  -webkit-animation: anime 1.2s cubic-bezier(0.86, 0, 0.07, 1) forwards;
          animation: anime 1.2s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}
.effect.active::after {
  -webkit-animation: anime 1.2s 0.5s cubic-bezier(0.86, 0, 0.07, 1) forwards;
          animation: anime 1.2s 0.5s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

@-webkit-keyframes anime {
  0% {
    transform-origin: left;
    transform: scaleX(0);
  }
  50% {
    transform-origin: left;
    transform: scaleX(1);
  }
  51% {
    transform-origin: right;
  }
  100% {
    transform-origin: right;
    transform: scaleX(0);
  }
}

@keyframes anime {
  0% {
    transform-origin: left;
    transform: scaleX(0);
  }
  50% {
    transform-origin: left;
    transform: scaleX(1);
  }
  51% {
    transform-origin: right;
  }
  100% {
    transform-origin: right;
    transform: scaleX(0);
  }
}
#profile {
  overflow: hidden;
}
#profile .profile {
  width: 394px;
  height: 525px;
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
}
#profile img[alt=profile] {
  position: absolute;
  top: 0;
  left: 10%;
  display: none;
}
#profile .border {
  width: 394px;
  height: 525px;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}
#profile svg {
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
#profile .shape {
  stroke-dashoffset: 1838;
  stroke-dasharray: 1838;
  fill: transparent;
  stroke: #25375c;
  transition: stroke-dasharray 4s, stroke-dasharray 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
#profile .profileText {
  width: 62%;
  height: 61.5%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding-left: 10%;
}
#profile .profileText h1 {
  width: 100%;
  font-family: "SBAggroB";
  font-size: 3vw;
  color: #25375c;
  transform: translateY(-1vw);
  opacity: 0;
  transition: all 0.8s ease;
  cursor: default;
}
#profile .profileText h1:last-of-type {
  margin-bottom: 10%;
}
#profile .profileText ul {
  width: 85%;
  border-top: 0.15vw solid #25375c;
  transform: translateY(1vw);
  opacity: 0;
  transition: all 0.8s ease;
}
#profile .profileText li {
  font-family: "PyeongChang-Bold";
  font-size: 1.7vw;
  border-bottom: 0.15vw solid #25375c;
  padding: 0.6vw 0.5vw;
  cursor: pointer;
}
#profile .profileText li span {
  float: right;
  transition: all 2s ease;
}
#profile .popup {
  height: auto;
  padding: 1vw;
  border: 0.15vw solid #25375c;
  background-color: #f0e8db;
  position: absolute;
  z-index: 10;
  font-family: "PyeongChang-Bold";
  font-size: 1.1vw;
  opacity: 0;
  cursor: default;
  pointer-events: none;
}
#profile .popup h2 {
  font-family: "SBAggroB";
  font-size: 1.8vw;
  text-align: center;
  margin-bottom: 3%;
}
#profile .popup p {
  margin-bottom: 1.5%;
}
#profile .popup.about {
  width: 20vw;
}
#profile .popup.about .margin {
  margin: 3% 0 0%;
}
#profile .popup.about p {
  padding: 0 3%;
}
#profile .popup.education {
  width: 28vw;
}
#profile .popup.education p {
  padding: 0 5%;
}
#profile .popup.education span {
  float: right;
}
#profile .popup.technical {
  width: 35vw;
}
#profile .popup.technical .technicalBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
#profile .popup.technical .technicalBox .available {
  width: 8.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}
#profile .popup.technical .technicalBox img {
  width: 4vw;
}
#profile .popup.technical .technicalBox p {
  text-align: center;
}
#profile .popup.contact {
  width: 22vw;
}
#profile .popup.contact p {
  padding: 0 2.5%;
}

@-webkit-keyframes border {
  0% {
    stroke-dashoffset: -1838;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes border {
  0% {
    stroke-dashoffset: -1838;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes rotate {
  100% {
    transform: rotate(15deg);
  }
}
@keyframes rotate {
  100% {
    transform: rotate(15deg);
  }
}
@-webkit-keyframes swiper {
  0%, 80%, 100% {
    text-shadow: 0vw 0px 0px rgba(37, 55, 92, 0), 1.5vw 0px 0px rgba(37, 55, 92, 0), 3vw 0px 0px rgba(37, 55, 92, 0);
  }
  10% {
    text-shadow: 0vw 0px 0px rgba(37, 55, 92, 0.5), 1.5vw 0px 0px rgba(37, 55, 92, 0), 3vw 0px 0px rgba(37, 55, 92, 0);
  }
  20% {
    text-shadow: 0vw 0px 0px rgb(37, 55, 92), 1.5vw 0px 0px rgba(37, 55, 92, 0), 3vw 0px 0px rgba(37, 55, 92, 0);
  }
  30% {
    text-shadow: 0vw 0px 0px rgba(37, 55, 92, 0.5), 1.5vw 0px 0px rgba(37, 55, 92, 0.5), 3vw 0px 0px rgba(37, 55, 92, 0);
  }
  40% {
    text-shadow: 0vw 0px 0px rgba(37, 55, 92, 0), 1.5vw 0px 0px rgb(37, 55, 92), 3vw 0px 0px rgba(37, 55, 92, 0);
  }
  50% {
    text-shadow: 0vw 0px 0px rgba(37, 55, 92, 0), 1.5vw 0px 0px rgba(37, 55, 92, 0.5), 3vw 0px 0px rgba(37, 55, 92, 0.5);
  }
  60% {
    text-shadow: 0vw 0px 0px rgba(37, 55, 92, 0), 1.5vw 0px 0px rgba(37, 55, 92, 0), 3vw 0px 0px rgb(37, 55, 92);
  }
  70% {
    text-shadow: 0vw 0px 0px rgba(37, 55, 92, 0), 1.5vw 0px 0px rgba(37, 55, 92, 0), 3vw 0px 0px rgba(37, 55, 92, 0.5);
  }
}
@keyframes swiper {
  0%, 80%, 100% {
    text-shadow: 0vw 0px 0px rgba(37, 55, 92, 0), 1.5vw 0px 0px rgba(37, 55, 92, 0), 3vw 0px 0px rgba(37, 55, 92, 0);
  }
  10% {
    text-shadow: 0vw 0px 0px rgba(37, 55, 92, 0.5), 1.5vw 0px 0px rgba(37, 55, 92, 0), 3vw 0px 0px rgba(37, 55, 92, 0);
  }
  20% {
    text-shadow: 0vw 0px 0px rgb(37, 55, 92), 1.5vw 0px 0px rgba(37, 55, 92, 0), 3vw 0px 0px rgba(37, 55, 92, 0);
  }
  30% {
    text-shadow: 0vw 0px 0px rgba(37, 55, 92, 0.5), 1.5vw 0px 0px rgba(37, 55, 92, 0.5), 3vw 0px 0px rgba(37, 55, 92, 0);
  }
  40% {
    text-shadow: 0vw 0px 0px rgba(37, 55, 92, 0), 1.5vw 0px 0px rgb(37, 55, 92), 3vw 0px 0px rgba(37, 55, 92, 0);
  }
  50% {
    text-shadow: 0vw 0px 0px rgba(37, 55, 92, 0), 1.5vw 0px 0px rgba(37, 55, 92, 0.5), 3vw 0px 0px rgba(37, 55, 92, 0.5);
  }
  60% {
    text-shadow: 0vw 0px 0px rgba(37, 55, 92, 0), 1.5vw 0px 0px rgba(37, 55, 92, 0), 3vw 0px 0px rgb(37, 55, 92);
  }
  70% {
    text-shadow: 0vw 0px 0px rgba(37, 55, 92, 0), 1.5vw 0px 0px rgba(37, 55, 92, 0), 3vw 0px 0px rgba(37, 55, 92, 0.5);
  }
}
#portfolio h1 {
  font-family: "SBAggroB";
  font-size: 3vw;
  margin-top: 3.5%;
  padding-left: 4%;
}
#portfolio .swipeIcon::after {
  position: absolute;
  top: 5.5%;
  left: 43%;
  transform: translateX(-50%);
  -webkit-animation: swiper 2s linear infinite;
          animation: swiper 2s linear infinite;
  font-size: 3vw;
  color: transparent;
  font-family: FontAwesome;
  content: "\f105";
  text-shadow: 0vw 0px 0px rgb(37, 55, 92), 1.5vw 0px 0px rgb(37, 55, 92), 1.5vw 0px 0px rgb(37, 55, 92);
}
#portfolio .container {
  width: 90%;
  height: 80%;
  position: absolute;
  top: 55%;
  right: 0;
  transform: translateY(-50%);
}
#portfolio .container .wrapper {
  width: 180vw;
  height: 100%;
  display: flex;
  align-items: center;
}
#portfolio .container .pfInfo {
  width: 25vw;
  height: 95%;
  border: 0.15vw solid #25375c;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0;
  transition: all 0.8s ease;
  transform: translateY(4%);
}
#portfolio .container .pfInfo .image {
  width: 80%;
  height: 20vw;
  border: 0.15vw solid #25375c;
  overflow: hidden;
  position: relative;
}
#portfolio .container .pfInfo .image:hover .overlay {
  display: none;
}
#portfolio .container .pfInfo .image .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
#portfolio .container .pfInfo .image .overlay span {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "SBAggroB";
  font-size: 1.5vw;
}
#portfolio .container .pfInfo .image img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.02vw;
}
#portfolio .container .pfInfo h2 {
  font-family: "SBAggroB";
  font-size: 2.3vw;
  text-align: center;
  padding: 0.3vw;
  line-height: 2.5vw;
}
#portfolio .container .pfInfo p {
  font-family: "PyeongChang-Bold";
  font-size: 1.2vw;
  text-align: center;
}
#portfolio .container .pfInfo .next {
  background-color: #f0e8db;
  border: 0.15vw solid #25375c;
  color: #25375c;
  font-family: "SBAggroB";
  font-size: 1vw;
  padding: 0.7vw 5.5vw 0.5vw;
  transition: all 0.3s ease;
  cursor: pointer;
}
#portfolio .container .pfInfo .next:hover {
  background-color: #25375c;
  color: #f0e8db;
}

#about .card {
  width: 21vw;
  height: 29vw;
}
#about .backCard {
  background-color: #25375c;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#about .cardBox {
  border: 0.15vw solid #25375c;
  background-color: #f0e8db;
  position: absolute;
  top: 95%;
  left: 5%;
  transform: rotate(-10deg);
  transition: all 0.5s ease;
}
#about .cardBox:nth-of-type(2) {
  top: 22%;
  left: 37%;
}
#about .cardBox:nth-of-type(3) {
  top: -53%;
  left: 70%;
}
#about .cardBox:not(:first-of-type, :nth-of-type(2), :nth-of-type(3)) {
  opacity: 0;
}
#about .cardBtn {
  width: 12vw;
  height: 3vw;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#about .cardBtn button {
  font-size: 1.5vw;
  font-family: "PyeongChang-Bold";
  background: none;
  border: none;
  cursor: pointer;
}
#about .cardBtn span {
  width: 5vw;
  display: inline-block;
  border-top: 0.2vw solid #25375c;
}
#about .cardBtn.leftBtn {
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
}
#about .cardBtn.rightBtn {
  top: 50%;
  right: 15%;
  transform: translateY(-50%);
}

@-webkit-keyframes textLeftLoop {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes textLeftLoop {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
.pf {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 100%;
  overflow-x: hidden;
}
.pf .remote {
  width: 90%;
  height: 2%;
  border: 0.2vw solid #25375c;
  background-color: #f0e8db;
  position: absolute;
  bottom: 76.3%;
  left: 5%;
  z-index: 2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.pf .remote .prev {
  border: 0.15vw solid #25375c;
  font-family: "SBAggroB";
  font-size: 1vw;
  background-color: #f0e8db;
  padding: 0.45vw 0.8vw 0.3vw;
  transition: all 0.3s ease;
  cursor: pointer;
}
.pf .remote .prev:hover {
  background-color: #25375c;
  color: #fff;
}
.pf .remote img {
  height: 90%;
  cursor: pointer;
}
.pf .remote img[alt="the classic"], .pf .remote img[alt="studio painting"] {
  height: 100%;
}
.pf .pfList {
  width: 600%;
  height: 100%;
  display: flex;
  position: relative;
}
.pf .pfbox {
  width: 100%;
  height: 100%;
  position: relative;
}
.pf .pfbox .pfContent {
  width: 90%;
  height: 40.35vw;
  margin: 3.61vw 0 0 4vw;
  display: flex;
}
.pf .pfbox .pfText {
  width: 65%;
  height: 100%;
  border: 0.2vw solid #25375c;
}
.pf .pfbox .pfText h2 {
  font-family: "SBAggroB";
  font-size: 3.5vw;
  border-bottom: 0.2vw solid #25375c;
  padding: 2vw 0 2vw 1.5vw;
}
.pf .pfbox .pfText .explan {
  width: 100%;
  height: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.2vw solid #25375c;
}
.pf .pfbox .pfText .explan p {
  font-family: "PyeongChang-Bold";
  font-size: 1.2vw;
  padding: 5% 3vw 0;
  line-height: 2vw;
}
.pf .pfbox .pfText .explan .palette {
  width: 100%;
  height: 6.5vw;
  margin-bottom: 2%;
}
.pf .pfbox .pfText .explan .page {
  display: inline-block;
  flex-direction: column;
}
.pf .pfbox .pfText .explan .page span {
  display: inline-block;
  font-family: "PyeongChang-Bold";
  font-size: 1vw;
  padding: 0.1vw 3vw;
}
.pf .pfbox .pfText .explan .page span:first-of-type {
  margin-top: 3vw;
}
.pf .pfbox .pfText .explan .colors {
  width: 5vw;
  height: 100%;
  border: 0.15vw solid #25375c;
  float: right;
  margin-right: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.pf .pfbox .pfText .explan .colors p {
  line-height: 0.9vw;
  font-size: 0.9vw;
  text-align: center;
  text-transform: uppercase;
}
.pf .pfbox .pfText .explan .color {
  width: 3.5vw;
  height: 3.5vw;
  border: 0.15vw solid #25375c;
}
.pf .pfbox .pfText .btnZip {
  width: 100%;
  height: 11.8vw;
}
.pf .pfbox .pfText .hashtag {
  width: 100%;
  height: 30%;
  border-bottom: 0.2vw solid #25375c;
}
.pf .pfbox .pfText .hashtag span {
  display: inline-block;
  font-family: "PyeongChang-Bold";
  font-size: 1vw;
  border: 0.15vw solid #25375c;
  border-radius: 5vw;
  padding: 0.5% 2%;
  margin: 1.4% 1% 0;
  cursor: default;
}
.pf .pfbox .pfText .pfBtn {
  display: inline-block;
  width: 80%;
  height: 69%;
  border-right: 0.2vw solid #25375c;
}
.pf .pfbox .pfText .goSite {
  width: 100%;
  height: 50%;
  border-bottom: 0.2vw solid #25375c;
  background-color: #f0e8db;
  transition: all 0.3s ease;
  cursor: pointer;
}
.pf .pfbox .pfText .goSite p {
  font-family: "SBAggroB";
  font-size: 1.3vw;
  text-align: center;
  padding-top: 3.5%;
}
.pf .pfbox .pfText .goSite:hover {
  background-color: #25375c;
}
.pf .pfbox .pfText .goSite:hover p {
  color: #fff;
}
.pf .pfbox .pfText .download {
  width: 100%;
  height: 48.5%;
  background-color: #f0e8db;
  transition: all 0.3s ease;
  cursor: pointer;
}
.pf .pfbox .pfText .download a {
  display: block;
  font-family: "SBAggroB";
  font-size: 1.3vw;
  text-align: center;
  padding: 1.2vw;
}
.pf .pfbox .pfText .download:hover {
  background-color: #25375c;
}
.pf .pfbox .pfText .download:hover a {
  color: #fff;
}
.pf .pfbox .pfText .slideBtn {
  display: inline;
  width: 20%;
  height: 100%;
  float: right;
  position: relative;
}
.pf .pfbox .pfText .slideBtn i {
  position: absolute;
  top: 35%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  font-size: 2vw;
  cursor: pointer;
}
.pf .pfbox .pfText .slideBtn .fa-pause {
  display: none;
}
.pf .pfbox .pfText .slideBtn img {
  width: 6vw;
  position: absolute;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pf .pfbox .pfImg {
  width: 35%;
  height: 100%;
  border: 0.2vw solid #25375c;
  border-left: none;
}
.pf .pfbox .pfSlide {
  width: 100%;
  height: 100%;
  position: relative;
}
.pf .pfbox .pfSlide li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.8s ease;
  padding: 0.2vw;
}
.pf .pfbox .pfSlide li:not(:nth-of-type(2)) {
  opacity: 0;
}
.pf .pfbox .pfSlide img {
  width: 100%;
  height: 100%;
}