@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// 어그로체

@font-face {
    font-family: 'PyeongChang-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChang-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
// 평창체

$mainColor: #25375c;
$skyblue: #83aeaf;
$blue: #728397;
$titleFont: 'SBAggroB';
$mainFont: 'PyeongChang-Bold';
$letters: 9;
$total-lines: 5;
$left-offset: 10%;
$clip-height: 4.8vw;
$line-height: $clip-height - 0.3vw;

body{
    display: flex;
    overflow: hidden;
}

.circle{
    width: 4vmax;  height: 4vmax;
    background-color: #f0e8db;
    position: absolute;
    top: -1%; left: -1%;
    z-index: 10;
    mix-blend-mode: exclusion;
    border-radius: 50%;
    will-change: transform;
    pointer-events: none;
}

//header
header{
    width: 20%; height: 100%;

    .logoBox{
        width: 100%; height: 50%;
        border-bottom: 0.2vw solid $mainColor;
        border-right: 0.2vw solid $mainColor;
        position: relative;

        .logo{
            width: 3.4vw; height: 3.4vw;
            background-color: $mainColor;
            border-radius: 30vw;
            position: absolute;
            top: 1.4vw; left: 1.4vw;
        }

        img{
            width: 4.7vw;
            position: absolute;
            top: 0.8vw; left: 0.8vw;
            transform-origin: center;
            animation: imgRotate 10s linear infinite;
        }
    }

    .menu{
        width: 100%; height: 50%;
        border-right: 0.2vw solid $mainColor;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;

        li{
            margin-left: 5%;
        }

        a.overA::before{
            opacity: 0;
            transform: translate(0, 20px);
        }

        li a{
            font-family: $titleFont;
            font-size: 1.6vw;
            color: rgba(0, 0, 0, 0);
            -webkit-text-stroke: 0.1vw $mainColor;
            position: relative;
            opacity: 1;
            transform: translate(0, 0);

                &::before{
                    content: attr(data-text);
                    position: absolute;
                    left: 0;
                    transition: .25s cubic-bezier(0.5,-1, 0.5, 2);
                    transform: translate(0, 0);
                    opacity: 1;
                }


                &:hover{
                    &:before {
                        opacity: 0;
                        transform: translate(0, 20px);
                    }
                    span {
                            opacity: 1;
                            transform: translate(0, 0);
                        }
        
                    @for $i from 1 through $letters{
                        span:nth-child(#{$i}){
                            transition-delay: 0.025s * $i;   
                        }
                    }
        
                }

            }

        }

        span.overSpan{
            opacity: 1;
            transform: translate(0, 0);
        }

        @for $i from 1 through $letters{
            span.overSpan:nth-child(#{$i}){
                transition-delay: 0.025s * $i;   
            }
        }

        span{
            display: inline-block;
            transition: .25s cubic-bezier(0.5,-1, 0.5, 2);
            color: $mainColor;
            opacity: 0;
            transform: translate(0, -20px);
            margin-right: -0.458vw;
        }
        
    }



@keyframes imgRotate{
    100%{
        transform: rotate(360deg);
    }
}

.container{
    width: 80%; height: 100%;
    overflow: hidden;

    .boxList{
        width: 100%; height: 400%;
        position: relative;
    }


    .box{
        width: 100%; height: calc(100% / 4);
        border-bottom: 0.2vw solid $mainColor;
        position: relative;
        overflow: hidden;
    }
}

#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #wall{
        width: 100%; height: 100%;
        position: absolute;
        top: 0; left: 0;
        z-index: 20;
        transition: all 0.3s;
    }

.words{
    font-family: $titleFont;
    font-size: 2.23vw;
    letter-spacing: -0.2vw;
    transform: translate3d(0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    margin: -10% 0 0 -33%;
}

.words-line{
    height: 4vw;
    overflow: hidden;
    position: relative;

    &:nth-child(odd){
        transform: skew(60deg, -30deg) scaleY(.66667);
    }

    &:nth-child(even){
        transform: skew(0deg, -30deg) scaleY(1.33333);
    }

    @for $i from 1 through $total-lines+1 {
        &:nth-child(#{$i}) {
          left: $left-offset * $i;
        }
      }
}

    h1{
        height: 5vw;
        line-height: $line-height;
        padding: 0 0.2vw;
        transition: all .4s ease-in-out;
        transform: translate3d(0, 0, 0);
        vertical-align: top;
        white-space: nowrap;
        cursor: default;
    }
    .words:hover {
        h1 {
          transform: translate3d(0, -($clip-height), 0);
        }
      }
    
}

.effect{
    display: inline-block;
    position: relative;
    background-clip: text;
    background: -webkit-linear-gradient(0deg, $mainColor 50%, transparent 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: 100% 0;
    background-size:200% 100%;
    transition: 0.6s all cubic-bezier(0.860, 0.000, 0.070, 1.000) 0.8s;

    &::before{
        content: "";
        width: 100%; height: 100%;
        background: $blue;
        z-index: 2;
        display: block;
        position: absolute;
        top: 0; left: 0;
        transform-origin: left;
        transform: scaleX(0);
    }

    &::after{
        content: "";
        width: 100%; height: 100%;
        background: $mainColor;
        z-index: 2;
        display: block;
        position: absolute;
        top: 0; left: 0;
        transform-origin: left;
        transform: scaleX(0);
    }

    &.active{
        background-position: 0 0;

        &::before{
            animation: anime 1.2s cubic-bezier(0.860, 0.000, 0.070, 1.000) forwards;
        }

        &::after{
            animation: anime 1.2s 0.5s cubic-bezier(0.860, 0.000, 0.070, 1.000) forwards;
        }
    }




}


@keyframes anime {
    0% {
      transform-origin: left;
      transform: scaleX(0);
    }
    50% {
      transform-origin: left;
      transform: scaleX(1);
    }
    51%{
      transform-origin: right;
    }
    100% {
      transform-origin: right;
      transform: scaleX(0);
    }
  }




  #profile{

    overflow: hidden;

    .profile{
        width: 394px; height: 525px;
        position: absolute;
        top: 50%; left: 8%;
        transform: translateY(-50%);
    }

    img[alt="profile"]{
        position: absolute;
        top: 0; left: 10%;
        display: none;
    }

    .border{
        width: 394px; height: 525px;
        position: absolute;
        top: 50%; left: 10%;
        transform: translateY(-50%);
    }

    svg{
        animation-fill-mode: forwards;
    }

    .shape{
        stroke-dashoffset: 1838; 
        stroke-dasharray: 1838; 
        fill: transparent;
        stroke: $mainColor;
        transition: stroke-dasharray 4s, stroke-dasharray 4s;
        animation-fill-mode: forwards;
    }


    .profileText{
        width: 62%; height: 61.5%;
        position: absolute;
        top: 50%; right: 0;
        transform: translateY(-50%);
        padding-left: 10%;

        h1{
            width: 100%;
            font-family: $titleFont;
            font-size: 3vw;
            color: $mainColor;
            transform: translateY(-1vw);
            opacity: 0;
            transition: all 0.8s ease;
            cursor: default;

            &:last-of-type{
                margin-bottom: 10%;
            }
        }

        ul{
            width: 85%;
            border-top: 0.15vw solid $mainColor;
            transform: translateY(1vw);
            opacity: 0;
            transition: all 0.8s ease;
        }

        li{
            font-family: $mainFont;
            font-size: 1.7vw;
            border-bottom: 0.15vw solid $mainColor;
            padding: 0.6vw 0.5vw;
            cursor: pointer;
            
            span{
                float: right;
                transition: all 2s ease;
            }
        }
    }

    .popup{
        height: auto;
        padding: 1vw;
        border: 0.15vw solid $mainColor;
        background-color: #f0e8db;
        position: absolute;
        z-index: 10;
        font-family: $mainFont;
        font-size: 1.1vw;
        opacity: 0;
        cursor: default;
        pointer-events: none;

        h2{
            font-family: $titleFont;
            font-size: 1.8vw;
            text-align: center;
            margin-bottom: 3%;
        }
        
        p{
            margin-bottom: 1.5%;
        }

        &.about{
            width: 20vw; 

            .margin{
                margin: 3% 0 0%;
            }

            p{
                padding: 0 3%;
            }
        }

        &.education{
            width: 28vw;
            
            p{
                padding: 0 5%;
            }

            span{
                float: right;
            }
        }

        &.technical{
            width: 35vw;

            .technicalBox{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                align-items: center;

                .available{
                    width: 8.5vw;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 2%;
                }

                img{
                    width: 4vw;
                }

                p{
                    text-align: center;
                }
            }

        }

        &.contact{
            width: 22vw;

            p{
                padding: 0 2.5%;
            }
        }
    }

  }

  @keyframes border {
    0%{
        stroke-dashoffset: -1838; 
    }
    100%{
        stroke-dashoffset: 0;
    }
  }

  @keyframes rotate {
    100%{
        transform: rotate(15deg);
    }
  }


    @keyframes swiper {
        0%, 80%, 100% {
            text-shadow:
                0vw 0px 0px rgba(37, 55, 92, 0),
                1.5vw 0px 0px rgba(37, 55, 92, 0),
                3vw 0px 0px rgba(37, 55, 92, 0);
        }

        10% {
            text-shadow:
                0vw 0px 0px rgba(37, 55, 92, 0.5),
                1.5vw 0px 0px rgba(37, 55, 92, 0),
                3vw 0px 0px rgba(37, 55, 92, 0);
        }

        20%{
            text-shadow:
            0vw 0px 0px rgba(37, 55, 92, 1),
            1.5vw 0px 0px rgba(37, 55, 92, 0),
            3vw 0px 0px rgba(37, 55, 92, 0);
        }

        30%{
            text-shadow:
            0vw 0px 0px rgba(37, 55, 92, 0.5),
            1.5vw 0px 0px rgba(37, 55, 92, 0.5),
            3vw 0px 0px rgba(37, 55, 92, 0);
        }

        40%{
            text-shadow:
            0vw 0px 0px rgba(37, 55, 92, 0),
            1.5vw 0px 0px rgba(37, 55, 92, 1),
            3vw 0px 0px rgba(37, 55, 92, 0);
        }

        50%{
            text-shadow:
            0vw 0px 0px rgba(37, 55, 92, 0),
            1.5vw 0px 0px rgba(37, 55, 92, 0.5),
            3vw 0px 0px rgba(37, 55, 92, 0.5);
        }

        60%{
            text-shadow:
            0vw 0px 0px rgba(37, 55, 92, 0),
            1.5vw 0px 0px rgba(37, 55, 92, 0),
            3vw 0px 0px rgba(37, 55, 92, 1);
        }

        70%{
            text-shadow:
            0vw 0px 0px rgba(37, 55, 92, 0),
            1.5vw 0px 0px rgba(37, 55, 92, 0),
            3vw 0px 0px rgba(37, 55, 92, 0.5);
        }
    }

//portfolio
#portfolio{

    h1{
        font-family: $titleFont;
        font-size: 3vw;
        margin-top: 3.5%;
        padding-left: 4%;
        // opacity: 0;
    }

    .swipeIcon::after{
        position: absolute;
        top: 5.5%; left: 43%;
        transform: translateX(-50%);
        animation: swiper 2s linear infinite;
        font-size: 3vw;
        color: transparent;
        font-family: FontAwesome;
        content: "\f105";
        text-shadow: 
            0vw 0px 0px rgba(37, 55, 92, 1),
            1.5vw 0px 0px rgba(37, 55, 92, 1),
            1.5vw 0px 0px rgba(37, 55, 92, 1);
        // opacity: 0;
    }

    .container{
        width: 90%; height: 80%;
        position: absolute;
        top: 55%; right: 0;
        transform: translateY(-50%);

        .wrapper{
            width: 180vw; height: 100%;
            display: flex;
            align-items: center;
        }

        .pfInfo{
            width: 25vw; height: 95%;
            border: 0.15vw solid $mainColor;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            opacity: 0;
            transition: all 0.8s ease;
            transform: translateY(4%);

            .image{
                width: 80%;
                height: 20vw;
                border: 0.15vw solid $mainColor;
                overflow: hidden;
                position: relative;

                &:hover .overlay{
                    display: none;
                }

                .overlay{
                    width: 100%; height: 100%;
                    position: absolute;
                    z-index: 5;
                    top: 50%; left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: rgba(255, 255, 255, 0.5);
                    backdrop-filter: blur(10px);

                    span{
                        display: inline-block;
                        position: absolute;
                        top: 50%; left: 50%;
                        transform: translate(-50%, -50%);
                        font-family: $titleFont;
                        font-size: 1.5vw;
                    }
                }

                img{
                    width: 100%;
                    position: absolute;
                    top: 0; left: 50%;
                    transform: translateX(-50%);
                    padding: 0.02vw;
                }
            }

            h2{
                font-family: $titleFont;
                font-size: 2.3vw;
                text-align: center;
                padding: 0.3vw;
                line-height: 2.5vw;
            }

            p{
                font-family: $mainFont;
                font-size: 1.2vw;
                text-align: center;
            }

            .next{
                background-color: #f0e8db;
                border: 0.15vw solid $mainColor;
                color: $mainColor;
                font-family: $titleFont;
                font-size: 1vw;
                padding: 0.7vw 5.5vw 0.5vw;
                transition: all 0.3s ease;
                cursor: pointer;

                &:hover{
                    background-color: $mainColor;
                    color: #f0e8db;
                }
            }
        }

    }

}


//end
#about{

    .card{
        width: 20vw; height: 29.5vw;
        background-color: #f0e8db;
    }

    .backCard{
        background-color: $mainColor;
        position: absolute;
        top: 55%; left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.8s ease;
        opacity: 0;
    }

    .cardBox{
        border: 0.15vw solid $mainColor;
        border-radius: 1vw;
        position: absolute;
        top: 100%; left: 2%;
        transform-style: preserve-3d;
        transition: all 1s ease;

        &:nth-of-type(1){
            top: -65%; left: 75%;
        }

        &:nth-of-type(2){
            top: 55%; left: 37%;
            opacity: 0;

            .cardBack{
                z-index: -2;
                transition: all 1s ease;
            }

            .cardFront{
                transform: rotateY(-180deg);
            }
        }

        &:last-of-type{
            display: none;
        }
    }

    .cardBack{
        width: 100%; height: 100%;
        border-radius: 1vw;
        background: url("../img/index_img/card_background.svg") #f0e8db;
        background-position: center;
        background-size: 100% 88%;
        background-repeat: no-repeat;
        position: absolute;
    }

    .cardFront{
        width: 100%; height: 100%;
        background-color: #f0e8db;
        border-radius: 1vw;
        position: absolute;
        z-index: -1;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        img[alt="emoticon"]{
            width: 10vw;
        }

        img[alt="graph"]{
            width: 13vw;
        }

        h2{
            font-family: $titleFont;
            font-size: 2.2vw;
            text-align: center;
        }

        p{
            font-family: $mainFont;
            font-size: 1.2vw;
            text-align: center;
            line-height: 2vw;
            padding: 0 1.2vw;
        }

        .pin{
            display: inline-block;
            width: 1.4vw; height: 1.4vw;
            position: absolute;
            top: 5.55vw; right: 3.952vw;
            z-index: -1;
            border-radius: 5vw;
            background: rgba(255, 255, 255, 0);

            &::before{
                content: '';
                position: relative;
                display: block;
                width: 300%;
                height: 300%;
                box-sizing: border-box;
                margin-left: -100%;
                margin-top: -100%;
                border-radius: 45px;
                background-color: $mainColor;
                animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
            }

            &::after{
                content: '';
                position: absolute;
                left: 0; 
                top: 0;
                display: block;
                width: 100%;
                height: 100%;
                background-color: white;
                border-radius: 15px;
                box-shadow: 0 0 8px rgba(0,0,0,.3);
                animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
            }
        }
    }

    .cardBtn{
        width: 12vw; height: 3vw;
        position: absolute;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        opacity: 0;
        transition: all 0.8s ease;
        
        button{
            font-size: 1.5vw;
            font-family: $mainFont;
            background: none;
            border: none;
            cursor: pointer;
        }

        span{
            width: 5vw;
            display: inline-block;
            border-top: 0.2vw solid $mainColor;
        }

        &.leftBtn{
            top: 45%; left: 15%;
            transform: translateY(-50%);
        }

        &.rightBtn{
            top: 45%; right: 15%;
            transform: translateY(-50%);
        }
    }
}


@keyframes pulse-ring {
    0% {
      transform: scale(.33);
    }
    80%, 100% {
      opacity: 0;
    }
}

@keyframes pulse-dot {
    0% {
      transform: scale(.8);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(.8);
    }
}


//portfolio sub page
.pf{
    width: 100%; height: 100%;
    position: absolute;
    top: calc(100% / 2); left: 100%;
    overflow-x: hidden;

    .remote{
        width: 90%; height: 2%;
        border: 0.2vw solid $mainColor;
        background-color: #f0e8db;
        position: absolute;
        bottom: 76.3%; left: 5%;
        z-index: 2;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .prev{
            border: 0.15vw solid $mainColor;
            font-family: $titleFont;
            font-size: 1vw;
            background-color: #f0e8db;
            padding: 0.45vw 0.8vw 0.3vw;
            transition: all 0.3s ease;
            cursor: pointer;

            &:hover{
                background-color: $mainColor;
                color: #fff;
            }
        }

        img{
            height: 90%;
            cursor: pointer;

            &[alt="the classic"], &[alt="studio painting"]{
                height: 100%;
            }
        }
    }

    .pfList{
        width: 600%; height: 100%;
        display: flex;
        position: relative;
    }

    .pfbox{
        width: 100%; height: 100%;
        position: relative;

        .pfContent{
            width: 90%; height: 40.35vw;
            margin: 3.61vw 0 0 4vw;
            display: flex;
        }

        .pfText{
            width: 65%;
            height: 100%;
            border: 0.2vw solid $mainColor;

            h2{
                font-family: $titleFont;
                font-size: 3.5vw;
                border-bottom: 0.2vw solid $mainColor;
                padding: 2vw 0 2vw 1.5vw;
            }

            .explan{
                width: 100%; height: 20vw;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                border-bottom: 0.2vw solid $mainColor;

                p{
                    font-family: $mainFont;
                    font-size: 1.2vw;
                    padding: 5% 3vw 0;
                    line-height: 2vw;
                }

                .palette{
                    width: 100%; height: 6.5vw;
                    margin-bottom: 2%;
                }

                .page{
                    display: inline-block;
                    flex-direction: column;

                    span{
                        display: inline-block;
                        font-family: $mainFont;
                        font-size: 1vw;
                        padding: 0.1vw 3vw;

                        &:first-of-type{
                            margin-top: 3vw;
                        }
                    }
                }

                .colors{
                    width: 5vw; height: 100%;
                    border: 0.15vw solid $mainColor;
                    float: right;
                    margin-right: 2%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;

                    p{
                        line-height: 0.9vw;
                        font-size: 0.9vw;
                        text-align: center;
                        text-transform: uppercase;
                    }
                }

                .color{
                    width: 3.5vw; height: 3.5vw;
                    border: 0.15vw solid $mainColor;
                }
            }

            .btnZip{
                width: 100%;
                height: 11.8vw;
            }

            .hashtag{
                width: 100%;
                height: 30%;
                border-bottom: 0.2vw solid $mainColor;

                span{
                    display: inline-block;
                    font-family: $mainFont;
                    font-size: 1vw;
                    border: 0.15vw solid $mainColor;
                    border-radius: 5vw;
                    padding: 0.5% 2%;
                    margin: 1.4% 1% 0;
                    cursor: default;
                }
            }

            .pfBtn{
                display: inline-block;
                width: 80%;
                height: 69%;
                border-right: 0.2vw solid $mainColor;
            }

            .goSite{
                width: 100%;
                height: 50%;
                border-bottom: 0.2vw solid $mainColor;
                background-color: #f0e8db;
                transition: all 0.3s ease;
                cursor: pointer;

                p{
                    font-family: $titleFont;
                    font-size: 1.3vw;
                    text-align: center;
                    padding-top: 3.5%;
                }

                &:hover{
                    background-color: $mainColor;
                }

                &:hover p{
                    color: #fff;
                }
            }

            .download{
                width: 100%;
                height: 48.5%;
                background-color: #f0e8db;
                transition: all 0.3s ease;
                cursor: pointer;

                a{
                    display: block;
                    font-family: $titleFont;
                    font-size: 1.3vw;
                    text-align: center;
                    padding: 1.2vw;
                }

                &:hover{
                    background-color: $mainColor;
                }

                &:hover a{
                    color: #fff;
                }
            }

            .slideBtn{
                display: inline;
                width: 20%; height: 100%;
                float: right;
                position: relative;

                i{
                    position: absolute;
                    top: 35%; left: 50%;
                    z-index: 2;
                    transform: translate(-50%, -50%);
                    font-size: 2vw;
                    cursor: pointer;
                }

                .fa-pause{
                    display: none;
                }

                img{
                    width: 6vw;
                    position: absolute;
                    top: 34%; left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

        }

        .pfImg{
            width: 35%;
            height: 100%;
            border: 0.2vw solid $mainColor;
            border-left: none;
        }

        .pfSlide{
            width: 100%;
            height: 100%;
            position: relative;

            li{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 50%; left: 50%;
                transform: translate(-50%, -50%);
                transition: all 0.8s ease;
                padding: 0.2vw;

                &:not(:nth-of-type(2)){
                    opacity: 0;
                }

            }

            img{
                width: 100%;
                height: 100%;
            }


        }

    }
}



